.navbar{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
#photo1{
    width: 150px;
    height:50px;
}
.box2{
    margin-top:0;
    height:58px;
    width: 455px;
    padding:0px 10px;
    display:flex;
    justify-content: center;
    align-items: center;
}
#search-logo{   
    border-top: 0.1px solid black;
    border-left: 0.1px solid black;
    border-bottom: 0.1px solid black;
    padding:0px 0px 0px 10px;
    height:41px;
    width: 10%; 
    display:flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color:grey;
}
#search-bar{
   height:41px;
   width:90%;
   display:flex;
   justify-content: left;
   align-items: center;
   padding:0px 10px 0px 0px;
   border-top: 0.1px solid black;
   border-bottom: 0.1px solid black;
   border-right: 0.1px solid black;
   border-top-right-radius: 8px;
   border-bottom-right-radius: 8px;
}
#txt{
    border:none;
    width:100%;  
    font-size:0.9rem;
    color:grey;
    outline:none;
}

.box3{
    background-color: #00B386;
    height: 40px;
    width:123px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-top: 0;
}
#text2{
    color:#FFFFFF;
}
.page2{
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    height:55vh; 
    position:relative;
    z-index: 1;
}
.text3{
    text-align: center;
    margin:48px 0px 0px;
    height:220px;
    width:745px;
    animation-name: move;  
    animation-duration: 0.9s;
    animation-timing-function:linear;
    animation-iteration-count: 1; 
}
#text3{
    font-size:100px;
    color:#44475B;
}
#text4{
    font-size:28px;
    color:#7C7E8C;
    margin-top:20px;
}
#textho{
    background-color: #00B386;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width:126px;
    border-radius: 8px;
    margin:20px 300px 0px;
}
#text5{
    font-size:16px;
    color:#FFFFFF;
}
#back{
    margin:69.5px 0px 11px;
    height:70%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
@keyframes move{
     0%{
        margin-top:-10px;
        }
    100%{
        margin-top:50px;
    }
}
.page3{
    height:640px;
    margin:100px 100px;
    padding:80px 0px;
    display:flex;
}
#left{
    width:50%;
    padding-right:20px;
}
.leftscr{
    animation-name:pho1;
    animation-duration: 0.9s;
    animation-iteration-count: 1s;
    animation-timing-function:linear;
}
.page31{
    height:640px;
    margin:100px 100px;
    padding:80px 0px;
    display:flex;
}
#left1{
    width:50%;
    padding-right:20px;
}
.leftscr1{
    animation-name:pho1;
    animation-duration: 0.9s;
    animation-iteration-count: 1s;
    animation-timing-function:linear;
}
#photo2{
    height:150px;
}
#tx{
    font-size: 69;
    color:#44475B;
}
#tx1{
    color:#7C7E8C;
    font-size: 22px;
    margin:24px 0px 0px;
}
.options{
    margin:32px 0px 0px;
}
#photoop{
    height:36px;
    width: 36px;
}
#firstop{
    width:490px;
    margin:4px 0px;
    padding:16px 16px 16px 24px;
    border:1px solid #7C7E8C;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items:center;
}
#firstop p{
    color:#44475B;
    font-size:18px;
    width:80%;
    margin:8.3px 0px 8.3px 24px;
}
#right{
    width:50%;
    display:flex;
    justify-content: center;
}
#phone{
    height: 657px;
    
}
.phonew{
    animation-name:pho;
    animation-duration: 0.9s;
    animation-iteration-count: 1s;
    animation-timing-function:linear;
}

#phonez{
    height: 657px;
    
}
.phonewz{
    animation-name:pho;
    animation-duration: 0.9s;
    animation-iteration-count: 1s;
    animation-timing-function:linear;
}
@keyframes pho{
    0%{transform:translate(500px);}
    100%{transform:translate(0);}
}
@keyframes pho1{
    0%{transform:translate(-500px);}
    100%{transform: translate(0);}
}

#ph1{
    height:500px;
}
.ph1scr{
    animation-name:pho;
    animation-duration: 0.9s;
    animation-iteration-count: 1s;
    animation-timing-function:linear;
}
#textho2{
    background-color: #00B386;
    height: 48px;
    width: 126px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
    border-radius: 8px;
}
#textho2:hover{
    cursor: pointer;
    background-color:#02a77e;
}
#textho:hover{
    cursor: pointer;
    background-color:#02a77e;
}
.page4{
    height:640px;
    margin:0px 100px;
    display:flex;
}
.photos{
    margin:40px 202px;
    display:flex;
}
#lower1{
    top:83px;
    left:12vw;
    position:relative;
    rotate: 10deg;
    transition: all 0.3s ease-out;
}
#lower2{
    position:relative;
    right:9vw;
    top:40px;
    transition: all 0.3s ease-out;
    cursor: pointer;
}
#lower1:hover{
    top:4px;
    rotate:0deg;
    z-index:1;
    cursor: pointer;
}
#lower2:hover{
    top:5px;
}
#ten{
    border-radius: 20px;
    height:244px;
}
#eleven{
    border-radius: 20px;
    height:244px;
}
.end{
    padding:160px 0px 0px;
    text-align: center;
    font-size: 48px;
    color:#44475B
}
.end1 p{
    text-align: center;
    font-size:64px;
    margin: 0;
    color:#44475B
}
.last{
    padding:30px 150px 0px 150px;
    display:flex;
    background-color: #F0F0F2;
    justify-content: space-around;
    flex-wrap: wrap;
    position:relative;
}
#first{
    margin:17px 0px 0px;
    padding:0px 0px 0px 15px;
}
#first a{
    color:#44475B;
    font-size:19px;
    padding: 0px 60px 0px 5px;
}
#first p{
    font-size:16px;
    color:#44475B;
    padding: 0px 60px 0px 5px;
}
#main{
    height:50px;
}
#c{
    text-decoration: underline;
}
.items{
    display:flex;
}
#ismall{
   height:30px;
   width:40px;
   border-radius: 50%;
}
#ismall:hover{
    cursor: pointer;
}
.l1{
    padding:20px 150px 0px 150px;
    display:flex;
    background-color: #F0F0F2;
    justify-content: space-between;
    border-top: 1px solid #7C7E8C;
}
.last1{
    height:47px;
}
#cc{
    color:#44475B;
    font-size: 17px;
    padding-left:36px;
}
#size2{
    color:#EB5B3C;
}
#imm{
    width:147px;
    height:45px;
    margin-right:50px;
}
