.nav{
    height:60px;
    background-color:black;
    display:flex;
    /* justify-content: space-between; */
}
#nav-im{
    margin-top: 5px;
    height:50px;
    width: 100px; 
}
#nav-im:hover{
    border: 1px solid white;
}
#nav-ser{
    position:relative;
    width:100%;
    font-size:1rem;
    padding:7px 10px 10px 0px;
    margin:10px 0px 10px 0px;
    border:none;
}
#nav-op{
    margin:10px 0px 10px 3px;
    width: 40px;
    height:40px;
    background-color: rgb(211, 207, 207);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border:none;
    text-align:center;
}
.one{
    margin:5px 2px 5px 0px;
}
.one:hover{
    border:1px solid white;
}
#dv{position:relative;
    top:0px;
    margin-left:15px;
    font-weight:lighter;
    color:#ccc;
    height:8px;
}
#two{
    font-weight:bolder;
    color:#FFFFFF;
}
#nav-im2{
    height: 17px;
    width: 14px;
    margin-top:9px;
    color:#FFFFFF;
}
.box3{
    display:flex;
    width:500px;
}
#search-icon{
    width:45px;
    background-color: orange;
    border-top-right-radius: 3px;
    border-bottom-right-radius:3px;
    margin:10px 4px 10px 0px;
    font-size:25px;
    border:none;
    display:flex;
    justify-content: center;
    align-items:center;
}
#search-icon:hover{
    background-color:rgb(231, 160, 26);
}
.box4{
    height:50px;
    width: 100px;
    padding:0px 9px 10px 9px;
    margin:5px 2px 5px 0px;
}
#firstpara{
    margin-bottom:0;
    color:#FFFFFF;
    font-size:0.7rem;
    font-weight:400;
}
#secondpara{
    color:#FFFFFF;
    font-size: 0.85rem;
    font-weight:700; 
    margin-top: 0;

}
.box4:hover{
    border: 1px solid white;
}
.box5{
    height:50px;
    width: 100px;
    padding:0px 9px 10px 9px;
    margin:5px 2px 5px 2px;
}
.box5:hover{
    border: 1px solid white;
}
