.nav{
    height:60px;
    background-color:black;
    display:flex;
    justify-content:space-around;
}
#nav-im{
    margin-top: 5px;
    height:50px;
    width: 100px; 
}
#nav-im:hover{
    border: 1px solid white;
}
#nav-ser{
    position:relative;
    width:100%;
    font-size:1rem;
    padding:7px 10px 10px 0px;
    margin:10px 0px 10px 0px;
    border:none;
}
#nav-op{
    margin:10px 0px 10px 3px;
    width: 40px;
    height:40px;
    background-color: rgb(211, 207, 207);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border:none;
    text-align:center;
}
.one{
    margin:5px 2px 5px 0px;
}
.one:hover{
    border:1px solid white;
}
#dv{position:relative;
    top:0px;
    margin-left:15px;
    font-weight:lighter;
    color:#ccc;
    height:8px;
}
#two{
    font-weight:bolder;
    color:#FFFFFF;
}
#nav-im2{
    height: 17px;
    width: 14px;
    margin-top:9px;
    color:#FFFFFF;
}
.box3{
    display:flex;
    width:500px;
}
#search-icon{
    width:45px;
    background-color: orange;
    border-top-right-radius: 3px;
    border-bottom-right-radius:3px;
    margin:10px 4px 10px 0px;
    font-size:25px;
    border:none;
    display:flex;
    justify-content: center;
    align-items:center;
}
#search-icon:hover{
    background-color:rgb(231, 160, 26);
}
.box4{
    
    width: 100px;
    padding:0px 9px 10px 9px;
    margin:5px 2px 5px 0px;
}
#firstpara{
    margin-bottom:0;
    color:#FFFFFF;
    font-size:0.73rem;
    font-weight:400;
}
#secondpara{
    color:#FFFFFF;
    font-size: 0.89rem;
    font-weight:700; 
    margin-top: 0;

}
.box4:hover{
    border: 1px solid white;
}
.box5{
    width: 100px;
    padding:0px 9px 10px 9px;
    margin:5px 2px 5px 0px;
}
.box5:hover{
    border: 1px solid white;
}
.box6{
    width:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0px 9px 8px 9px;
    margin:5px 2px 5px 0px;
}
#cart-icon{
    font-size:30px;
    color:white;    
}
#cart{
    font-size: 0.89rem;
    font-weight:700;
    color:white;
    margin-top:34px;
}
.box6:hover{
    border: 1px solid white;
}
.pannal{
    height:40px;
    background-color:#222f3d;
    display:flex;
    align-items:center;
    justify-content: space-evenly;   
}
#pannal-all{
    color:#FFFFFF;
    margin-left:0;
    padding: 10px 10px 10px 15px;
}
#pannal-all:hover{
    border:1px solid white;
}
.pannal-tags{
    color:#FFFFFF;
    font-size:0.97rem;
    width:80%;
}
#tag1{
    margin-left:10px;
    padding-top:10px;
    padding-bottom:10px;
}
#tag2{
    margin-left:10px;
    padding-top:10px;
    padding-bottom:10px;
}
#tag3{
    margin-left:10px;
    padding-top:10px;
    padding-bottom:10px;
}
#tag4{
    margin-left:10px;
    padding-top:10px;
    padding-bottom:10px;
}
#tag5{
    margin-left:10px;
    padding-top:10px;
    padding-bottom:10px;
}
#tag1:hover{
    border:1px solid white;
}
#tag2:hover{
    border:1px solid white;
}
#tag3:hover{
    border:1px solid white;
}
#tag4:hover{
    border:1px solid white;
}
#tag5:hover{
    border:1px solid white;
}
#shop{
    font-size:0.98rem;
    color:#FFFFFF;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:5px;
    padding-right: 5px;
}
#shop:hover{
    border: 1px solid white;
}
.hero-cover{
    background-image: url("https://m.media-amazon.com/images/W/MEDIAX_792452-T1/images/I/61GfWyQax7L._SX3000_.jpg");
    background-size:cover;
    height: 300px;
    display:flex;
    justify-content: center;
    align-items: end;
}
#message{
    text-align: center;
    font-size: 1rem;
    background-color: white;
    color:black;
    padding: 10px 14px;
    width:80%;
    margin-bottom:1rem;
}
#l1{
    text-decoration: none;
    color:#007185;
}
#l1:hover{
    color:orangered;
    text-decoration:underline;
}
.shop1{
    display:flex;   
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: pink;
    padding-top:2rem;
}
#firstshop{
    height: 400px;
    width:23%;
    background-color:#FFFFFF;
    padding:15px 0px 0px 0px;
}
#detail{
    margin-top:0;
    padding-left:1rem;
}
#photo1{
    height:75%; 
    margin:0rem 1rem 1.5rem 1rem;
    background-image: url("https://m.media-amazon.com/images/I/711c-uf6AFL._AC_SY200_.jpg");
    background-size: cover;      
}
#text{
    padding-left:1rem;
    color:#007185;
}
#text:hover{
    color:orangered;
    text-decoration: underline;
    cursor:pointer;
}
#secondshop{
    height: 400px;
    width:23%;
    background-color:#FFFFFF;
    padding:15px 0px 0px 0px;
}
#photo2{
    height:75%;
    margin:0rem 1rem 1.5rem 1rem;
    background-image: url("https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Events/2023/EBF23/Fuji_Desktop_Single_image_EBF_1x_v1._SY304_CB573698005_.jpg");
    background-size:cover;   
}
#thirdshop{
    height: 400px;
    width:23%;
    background-color:#FFFFFF;
    padding:15px 0px 0px 0px;
}
#photo3{
    height:75%;
    margin:0rem 1rem 1.5rem 1rem;
    background-image:url("https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Events/2023/EBF23/Fuji_Desktop_Single_image_EBF_1x_v10._SY304_CB573698005_.jpg") ;
    background-size:cover;
}
#fourthshop{
    height: 400px;
    width:23%;
    background-color:#FFFFFF;
    padding:15px 0px 0px 0px;
}
#photo4{
    height:75%;
    margin:0rem 1rem 1.5rem 1rem;
    background-image:url("https://images-na.ssl-images-amazon.com/images/G/01/US-hq/2023/img/Consumer_Electronics/XCM_CUTTLE_1546843_2940864_379x304_1X_en_US._SY304_CB613273467_.jpg");
    background-size:cover;
}
#photo5{
    height:75%;
    margin:0rem 1rem 1.5rem 1rem;
    background-image: url("https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2021/September/DashboardCards/Fuji_Dash_SmartWatch_1X._SY304_CB639922137_.jpg");
    background-size:cover;
}
.fifthshop{
    height:400px;
    width:23%;
    background-color:#FFFFFF;
    padding:15px 0px 0px 0px;
}
.shop2{
    padding-top:2rem;
    background-color: pink;
    display:flex;   
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
    
}
.sixthshop{
    height:400px;
    width:23%;
    background-color:#FFFFFF;
    padding:15px 0px 0px 0px;
}
.seventhshop{
    height:400px;
    width:23%;
    background-color:#FFFFFF;
    padding:15px 0px 0px 0px;
}
.eigthshop{
    height:400px;
    width:23%;
    background-color:#FFFFFF;
    padding:15px 0px 0px 0px;
}
#photo6{
    height:75%;
    margin: 0rem 1rem 1.5rem 1rem;
    background-image: url("https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Events/2023/EBF23/Fuji_Desktop_Single_image_EBF_1x_v3._SY304_CB573698005_.jpg");
    background-size: cover;
}
#photo7{
    height:75%;
    margin: 0rem 1rem 1.5rem 1rem;
    background-image: url("https://images-na.ssl-images-amazon.com/images/G/01/dex/2023/Roar/October/D_CC_Roar_OfficeDepot_1023_1X_Furnitrure_v2._SY304_CB577544739_.jpg");
    background-size: cover;
}
#photo8{
    height:75%;
    margin: 0rem 1rem 1.5rem 1rem;
    background-image: url("https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Events/2023/EBF23/Fuji_Desktop_Single_image_EBF_1x_v8._SY304_CB573698005_.jpg");
    background-size:cover;
}
.top{
    background-color:#1a4776;
    height: 50px;
    display:flex;
    justify-content: center;
    align-items:center;
}
#t{
    color:#FFFFFF; 
    text-decoration: none;
    font-size: 0.85rem;
}
.top:hover{
    background-color:#2361a4;
}
.foot{
    background-color:#222f3e;
    display:flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}
#fro{
    font-weight:800;   
    color:#DDDDDD;
}
#ba{
    color:#DDDDDD;
}
.logos{
    background-color:#222f3e;
    height:69px;
    border-top:0.1px solid white;
    display:flex;
    justify-content: center;  
    align-items: center;
}
#logo1{
    padding:7px 19px 7px 9px;
    margin:0px 4px 0px 0px;
    border: 1.5px solid white;
    color:#DDDDDD;
    border-radius: 3px;
    font-size:0.9rem;
}
#flag{
    height:10px;
}
.lw{
    padding:30px 0px;
    background-color: #131A22;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    padding-left:16%;
    padding-right:16%;
}
.ug{
    padding:0px 15px;
}
#up{margin-bottom:0;
    margin-top:0;
    font-size:0.9rem;
    color:white;
}
#lo{margin-top:0;
    margin-bottom:0;
    font-size:0.9rem;
   color:#999999;
}
.last{
    background-color:#131A22;
    padding:10px 0px 30px;
}
.last1{
    display:flex;
    justify-content:center;
    align-items:end;
}
#tx{margin-top:0;
    margin-bottom:0;
    font-size:0.9rem;
    color:white;
    padding:0px 7.2px;
}
.last2{  
    text-align:center;
}