*{
    margin:0;
    padding:0;
    box-sizing:border-box; /*eha use kita janda box di padding,margin set karn lai box vich*/ 
}

.in{
    text-align: center;
}
#bingo{
    display:inline;
    height:43px;
    background-color: rgb(148, 186, 199);
    border:1px solid #000000;
    line-height: 43px;
    text-align: center;
    font-size: 33px;
    border-radius: 10px;
}
#bingo:hover{
    box-shadow: 6px 6px 6px blue;
    cursor: pointer;
    background:linear-gradient(
        to right,
        red,
        yellow,
        orange
    );
    opacity: 0.4;
}
body{
    background-color: black;
}