*{
    color:rgb(133, 41, 56);
    background-color:antiquewhite;
}
#gum{ 
    /* for id */
    color:blue
}
.h{
    /* for same class */
   color:black;
}
#w{
    text-align: center;
    text-decoration:dottedline;
}
a{
    text-decoration:none;
}
#h{
    font-weight:normal;
}
#h1{
    font-weight: bolder;
}
#h2{
    font-weight:445;
    font-family:'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

