.black{
    height:500px;
    width:500px;
    border:2px solid black;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:center; /*its along x-axis*/
    align-items: center;  /*its along y axis */
}
#id{
    height: 100px;
    width: 100px;
    display:inline-block;
    border:2px solid black;
    background-color:aquamarine;
}
#id1{
    height: 100px;
    width: 100px;
    display:inline-block; 
    border:2px solid black;
    background-color:aquamarine;
}